alembic==1.5.7
boto3==1.17.29
botocore==1.20.29
cachelib==0.1.1
click==7.1.2
configparser==5.0.2
Flask==1.1.2
Flask-Migrate==2.7.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.4
greenlet==1.0.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
Mako==1.1.4
MarkupSafe==1.1.1
psycopg2-binary==2.8.6
python-dateutil==2.8.1
python-editor==1.0.4
s3transfer==0.3.4
six==1.15.0
SQLAlchemy==1.4.0
urllib3==1.26.4
Werkzeug==1.0.1
