.center {
    align-content: center;
}

.left {
    width: 45%;
    float: left;
}

.right {
    margin-left: 55%;
}

.center {
    text-align: center;
}

.message {
	text-align: center;
	padding: 5px;
	border: rgb(211, 211, 211) dotted 2px;
    margin-top: 2rem;
    width: 90%;
}
