* {box-sizing: border-box}
body {
	font-family: Garamond, Arial, Helvetica, sans-serif;
    color: #333;
    background: #d8d6d6;
}

/* vertical panel */
.tab {
    float: left;
    background-color: rgb(50, 163, 1);
    border-radius: 2px;
    width: 10%;
    min-width: 110px;
    height: 98vh;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}

.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 15% 15%;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
    font-size: 85%;
}

.tab button:hover {
    background-color: rgb(60, 178, 11);
    font-weight: bold;
}

.tab button.active {
    background-color: rgb(70, 193, 21);
    font-weight: bold;
    font-size: 95%;
}

.tabcontent {
    padding-left: 40px;
    display: block;
    background-color: rgb(245, 245, 245);
    height: 98vh;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    overflow: scroll;
}

/* pages common */
.btn {
	display: block;
	background: rgb(62, 163, 18);
	color: #fff;
	padding: 7px 7px 7px 7px;
    max-width: 130px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid rgb(62, 163, 18);
    margin-top: 15px;
    margin-bottom: 10px;
}

tr {
    text-align: left;
}

th, td {
    padding: 0 10px 5px 0;
}

input[type='text'],
input[type='time'],
input[type='date'],
input[type='number'],
textarea {
	display: block;
	width: 100%;
	padding: 0.2rem;
	font-size: inherit;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 5%;
    max-width: 330px;
}

input[type=checkbox]
{
  -webkit-appearance:checkbox;
}

.qty {
    width: 40%;
}

.heading {
    position: fixed;
    height: 500px;
    display: block;
}

.menu_check_even {
    margin-left: 50%;
}

.pic_button {
    font-size: 60%;
    margin-bottom: 5%;
}

.input1 {
    margin-top: 2%;
}

img {
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    object-fit: cover;
}

.add_form {
    display: none;
    background-color: #eeeeee;
    width: 95%;
    padding: 3% 3% 3% 3%;
}

/* profile */
.profile_pic {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

/* items */
.items_list {
    height: 90vh;
    overflow-y: scroll;
    display: block;
}

.item {
    width: 92%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
    min-height: 110px;
    border-radius: 4px;
    margin: 15px 0px 15px 2px;
    overflow: scroll;
}

.order {
    width: 92%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
    min-height: 110px;
    border-radius: 4px;
    margin: 15px 0px 15px 2px;
    padding: 0px 20px 0px 20px;
    overflow: scroll;
    max-width: 600px;
}

.order_items,
table.order_items td, 
table.order_items tr, 
table.order_items th {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.order_pic {
    float: right;
    width: 60px;
    height: 60px;
    padding: 0;
    margin-top: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.item_pic {
    width: 100px;
    height: 100px;
    padding: 3px;
    float: left;
}

.chef_pic {
    width: 45px;
    height: 45px;
    float: left;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    margin: 8px;
}

.item_big {
    padding-top: 5px;
    margin-top: 2px;
    font-size: 20px;
    margin: 3px 0% 3px;
    font-weight: bold;
}

.item_small {
    margin: 2px 0px 10px;
    font-size: 13px;
    font-style: italic;
    color: grey;
}

.item_content {
    margin-left: 110px;
    padding-left: 5px;
}

.item_title {
    float: left;
    width: 60%;
}

.item_cost {
    float: right;
    margin-right: 5px;
    text-align: right;
    width: 15%;
}

.item_description {
    font-size: 75%;
    min-width: 50%;
    float: left;
    color: gray
}

.item_description_text {
    margin: 1% 0% 2% 0%;
}

.name_panel {
    background-color: rgb(220, 220, 220);
    width: 94%;
}

.chef_name {
    padding: 1px 50px;
    font-size: 14px;
}

.meal_time {
    padding-top: 10px;
}

.place_order {
    float: right;
    margin: 0px 4vw 15px 0px;
}


@media screen and (max-width: 600px) {
    .tabcontent {
        padding-left:15px;
        font-size: 3vw;
    }

    .tab {
        padding-left: 0%;
        min-width: 70px;
        font-size: 75%;
    }

    .tab button {
        padding: 15% 7%;
    }

    .btn {
        padding: 4px 4px 4px 4px;
        font-size: 0.6rem;
    }

    .input1 {
        margin-bottom: 4%;
    }

    .item {
        min-height: 72px;
        margin: 12px 0px 12px 2px;
    }

    .item_pic {
        width: 65px;
        height: 65px;
        margin: 0;
    }

    .chef_pic {
        width: 35px;
        height: 35px;
        margin: 6px;
    }

    .order_pic {
        float: right;
        width: 40px;
        height: 40px;
    }

    .chef_name {
        font-size: 11px;
    }

    .item_content {
        margin-left: 68px;
    }

    .profile_pic {
        width: 120px;
        height: 120px;
    }

    .item_big {
        padding-top: 5px;
        margin-top: 2px;
        font-size: 12px;
    }
    
    .item_small {
        margin: 2px 0px 3px;
        font-size: 8px;
    }

    .item_title {
        width: 70%;
    }
    
    .item_cost {
        margin-right: 5px;
        width: 25%;
    } 

    .item_description {
        font-size: 9px;
    }

    .order {
        padding: 0px 10px 0px 10px;
    }

    .meal_time {
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    .tabcontent {
        font-size: 120%;
    }

    .btn {
        font-size: 1rem;
    }

    .add_item_form {
        padding: 20px 20px;
    }

    .item_title {
        width: 70%;
    }

    .item_description {
        width: 82%;
    }

    .item_description_text {
        margin: 0%;
        font-size: 90%;
    }
}

