* {box-sizing: border-box}
body {
	font-family: Garamond, Arial, Helvetica, sans-serif;
    color: #333;
    background: #eeeeee;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: rgb(50, 163, 1);
    border-radius: 2px;
    width: 10%;
    min-width: 120px;
    height: 98vh;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}

.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 15% 15%;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
    font-size: 95%;
}

.tab button:hover {
    background-color: rgb(60, 178, 11);
    font-weight: bold;
}

.tab button.active {
    background-color: rgb(70, 193, 21);
    font-weight: bold;
    font-size: 105%;
}

.tabcontent {
    padding-left: 15%;
    background-color: white;
    border: 1px solid #ccc;
    height: 98vh;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}

.tabspace {
    height: 50vh;
}

.logo {
    width: 60px;
	display: block;
    margin: auto;
    align-self: center;
    bottom: 35px;
    left: 37px;
    position: fixed;
}

@media screen and (max-width: 400px) {
    .tabcontent {
        padding-left: 108px;
        width: 100%;
    }

    .tab {
        padding-left: 0%;
        min-width: 100px;
    }

    .tab button {
        padding: 15% 7%;
    }
}