* {
	box-sizing: border-box;
	margin: 0.5%;
}

body {
	background: #eeeeee;
	font-family: Garamond, Arial, Helvetica, sans-serif;
	color: #333;
    line-height: 1.6;
}

.input1 {
    margin: 1.5rem 0;
}

.logo {
    padding-top: 2%;
    width: 20%;
    max-width: 120px;
	display: block;
	margin: auto;
}

input[type='text'],
input[type='password'],
textarea {
	display: block;
	width: 100%;
	padding: 0.7rem;
	font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 330px;
    margin-right: 5%;
}

h1 {
    font-size: 180%;
}

.link {
    font-size: 80%;
    text-align: center;
    margin-top: 10%;
}

.btn {
    display: block;
    width: 100%;
	background: rgb(62, 163, 18);
	color: #fff;
	padding: 3% 2%;
    margin-top: 5%;
    max-width: 330px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid rgb(62, 163, 18);
}

::placeholder {
    color: rgb(184, 184, 184);
    opacity: 1; /* Firefox */
}

@media screen and (max-width: 600px) {
    input[type='text'],
    input[type='password'],
    textarea {
        font-size: 3vw;
    }

    h1 {
        font-size: 6vw;
    }

    .link {
        font-size: 2.2vw;
    }

    .btn {
        padding: 5% 2%;
        font-size: 3.2vw;
    }
}