* {
	box-sizing: border-box;
	margin: 0.5%;
}

body {
	background: #eeeeee;
	font-family: Garamond, Arial, Helvetica, sans-serif;
	color: #333;
    line-height: 1.6;
}

.center {
    align-content: center;
}

.input1 {
	margin: 1.5rem 0;
}

img {
	width: 100%;
}

.message {
	text-align: center;
	padding: 5px;
	border: rgb(211, 211, 211) dotted 2px;
	margin-top: 2rem;
}

.logo {
    padding-top: 2%;
    width: 20%;
    max-width: 120px;
	display: block;
	margin: auto;
}

input[type='text'],
input[type='password'],
textarea {
	display: block;
	width: 100%;
	padding: 0.7rem;
	font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 330px;
    margin-right: 5%;
}

.link {
    font-size: 80%;
    text-align: center;
    margin-top: 10%;
}

.btn {
	display: block;
	width: 100%;
	background: rgb(62, 163, 18);
	color: #fff;
	padding: 1% 2%;
	border: none;
	cursor: pointer;
	outline: none;
    margin-top: 5%;
    max-width: 330px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid rgb(62, 163, 18);
}

h1 {
    font-size: 180%;
}

.left {
    width: 45%;
    float: left;
}

.right {
    margin-left: 55%;
}

.center {
    text-align: center;
}

::placeholder {
    color: rgb(184, 184, 184);
    opacity: 1; /* Firefox */
}