<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/common.css" />
    <link rel="stylesheet" href="../static/home.css" />
    <link rel="shortcut icon" href="../static/logo.jpeg" type="image/png">
    <script src="../static/home.js"></script>
    <title> Welcome to Lunchbox</title>
  </head>
  <body>

    <div class="tab">
      <button class="tablinks" onclick="openPage(event, 'Profile')">Profile</button>
      <button class="tablinks" onclick="openPage(event, 'Items')" id="defaultOpen">Items</button>
      <button class="tablinks" onclick="openPage(event, 'Orders')" >Orders</button>
      <button class="tablinks" onclick="openPage(event, 'Dashboard')">Dashboard</button>
      <button class="tablinks" onclick="openPage(event, 'Todays_Menu')">Today's Menu</button>
    </div>

    <div id="Profile" class="tabcontent">
      <h2>Profile</h2>
      <table id="user_profile">
        {% for key, value in user_profile.items() %}
           <tr>
              <th> {{ key }}: </th>
              <td> {{ value }} </td>
           </tr>
        {% endfor %}
      </table>
    </div>

    <div id="Items" class="tabcontent">
      <h2>Items</h2>
      {% if message %}
        <p class="message">{{ message | safe }}</p>
      {% endif %}
      <button type="button" class="btn" onclick="openCollapsible();">Add Item</button>
      <div id="item_form" class="add_item_form">
        <form action="/add_item" method="POST" enctype="multipart/form-data" >
          <div class="input1">
            <div class="left">
              Name
              <input
                  type="text"
                  name="item_name"
                  placeholder="eg. Paneer Tikka"
              />
            </div>
            <div class="right">
              Type
              <input
                  type="text"
                  name="item_type"
                  placeholder="eg. Entree"
              />
            </div>
          </div>
          <div class="input1">
            <div class="left">
              Cost ($)
              <input
                  type="text"
                  name="cost"
                  placeholder="eg. 5.99"
              />
            </div>
            <div class="right">
              Portion size
              <input
                  type="text"
                  name="portion_size"
                  placeholder="eg. 16 oz"
              />
            </div>
          </div>
          <div class="input1">
            <div class="left">
              Description
              <textarea 
                name="description" 
                rows="4" 
                placeholder="eg. Paneer chunks marinated in spiced yogurt & grilled in a tandoor"></textarea>
            </div>
            <div class="right">
              Picture
              <input id="item_picture" src="#" type="file" name="item_picture" accept="image/*" class="pic_button">
              <input type="submit" value="Save Item" class="btn"/>
            </div>
        </div>
        </form>
      </div>
      <div>
        <table id="items_list">
          {% for item in items_dicts %}
             <tr>
              <div class="item">
                <div class="item_pic">
                  <img class="pic" src="{{ item['Picture'] }}"/>
                </div>
                <div>
                  <div>
                    <p class="cost"> ${{ item["Cost"] }} </p>
                    <p class="title"> {{ item["Name"] }} </p>
                  </div>
                  <p class="description"> {{ item["Description"] }} </p>  
                </div>
              </div>
             </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div id="Orders" class="tabcontent">
      <h2>Orders</h2>
      <p>View recent orders here</p>
    </div>

    <div id="Dashboard" class="tabcontent">
      <h2>Dashboard</h2>
      <p>Your performace</p>
    </div>

    <div id="Todays_Menu" class="tabcontent">
      <h2>Today's Menu</h2>
      <p>Update today's menu</p>
    </div>

    <script>document.getElementById("defaultOpen").click();</script>
    
  </body>
</html> 
